@page "/Posts/post/{id:guid}"
@model Devblog.Pages.Posts.PostModel
@using Devblog.Domain.Model
@{
    ViewData["Title"] = "Post";
}

<div class="container mt-4">
    <h2 class="text-center">@Model.Post.Title</h2>
    <div class="text-muted text-center mb-3">
        <p>Author: @Model.Post.Author.Fullname</p>
        <p>Reference: @Model.Post.Reference</p>
    </div>

    <div class="card">
        <div class="card-body">
            @if (Model.Post is BlogPost blogPost)
            {
                <h5 class="card-title">Content:</h5>
                <p class="card-text">@blogPost.Weblog</p>
            }
            else if (Model.Post is Project project)
            {
                <h5 class="card-title">Content:</h5>
                <p class="card-text">@project.Description</p>
            }
        </div>
    </div>
    @if (Model.Post.Author.Email == Model.Email)
    {
        <button class="btn btn-danger mt-4" data-bs-toggle="modal" data-bs-target="#deletePostModal">Delete Post</button>
    }
</div>

<div class="modal fade" id="deletePostModal" tabindex="-1" aria-labelledby="deletePostModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deletePostModalLabel">Confirm Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this post?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form method="post" asp-page-handler="Delete" id="deletePostForm">
                    <input type="hidden" name="postId" value="@Model.Post.Id" />
                    <button type="submit" class="btn btn-danger">Yes, Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
